@charset "UTF-8";
/*Pequenas Telas*/

@media (min-width: 300px) and (max-width:600px){
    #footer_base{
        margin: 10px;
    }

    #icons_social_media{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    #icons_social_media a{
        padding: 5px 0px;
    }

    .direitos_reservados{
        padding-bottom: 20px;
    }
}
/*Tablet*/

@media (min-width: 800px){
    /*Index*/
    section#back_yellow, section#back_blue{
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    #text_flex{
        width: 50%;
        padding: 10px 10px;
        flex: 1;
    }

    #image_flex{
        width: 50%;
    }

    #image_flex img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*Unidade*/

    #main_content_unidade{
        display: flex;
        gap: 40px;
    }

    #horario_localizacao{
        width: 50%;
        padding: 10px 10px;
        flex: 1;
    }

    #bio_local{
        width: 50%;
        padding: 10px 10px;
    }
}

/*Telas Maiores*/

@media (min-width: 1200px) {
    /*INDEX*/

    .slide{
        height: 900px;
    }


    .slide img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }


     section#back_yellow, section#back_blue{
        flex-flow: row-reverse nowrap;
        height: 500px;
    }

    #background_images img{
        max-height: 900px;
        object-fit: cover;
    }

    #burguer{
        display: none;
    }

    #menu{
        display: flex;
        width: 330px;
        height: 35px;
        transform: translateY(0);
        position: static;
        background-color: #1c435a;
        box-shadow: -5px 5px 1px #F76C5E;
        margin: 20px;
    }

    #menu ul{
        font-family: "sub";
        font-size: 9.5px;
        display: flex;
        gap: 20px;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }

    #menu hr{
        display: none;
    }

    #fechar-menu{
        display: none;
    }

    /*CONTATO*/
    body{
        background-color: #f0e5cb;
        background-image: none;
    }
    main{
        background-color: #f0e5cb;
        background-image: none;
    }

    .mid_section{
        background-color: #f0e5cb;
        background-image: none;
        max-width: 700px;
        margin: auto;
    }

    /*UNIDADE*/

    body.unidade #title_main{
    height: 600px;
    }

    body.unidade #title_main > img{
        width: 30%;
    }

    .mid_section_unidade{
        margin: auto;
        max-width: 1100px;
    }
}   