@charset "UTF-8";

@font-face {
    font-family: "titulos";
    src: url(../fontes/Blue\ Beach.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "sub";
    src: url(../fontes/Comfortaa-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "paragrafos";
    src: url(../fontes/Cocogoose-Pro-Light-trial.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "footer";
    src: url(../fontes/CaviarDreams.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --amarelo-solar: #FFC861;
    --verde-praia: #61C3A7;
    --azul-oceano: #46A2D9;
    --coral-vibrante: #F76C5E;
    --areia-suave: #F4E6C3;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;

}

h2{
    font-family: "titulos", sans-serif;

    color: white;
    text-shadow: 4px 3px 3px var(--coral-vibrante);
    font-size: 4.5em;
}

p{
    font-family: "paragrafos", sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    width: 100%;
    height: 16vh;
    background-color: transparent;
    padding-top: 5px;
}

span#burguer{
    background-color: var(--coral-vibrante);
    box-shadow: -6px 6px 1px var(--amarelo-solar) ;
    padding: 7px;
    color: white;
    font-size: 2.5em;
    cursor: pointer;
}

.menu{
    position: fixed;
    inset: 0;
    background-color: #5ba6d1ea;

    transform: translateY(-100%);
    transition: transform 0.4s ease;
}

.menu.aberto{
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateY(0);
}

#fechar-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.menu > ul > li{
    list-style: none;
    margin: 20px 0;
}

.menu > ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;

    transition: color 0.5s;
}

.menu > ul > li > a:hover{
    color: var(--amarelo-solar);
}

.menu > hr{
    background-color: var(--coral-vibrante);
    width: 90%;
    border: none;
    height: 2px;
    margin: 30px 0;
    opacity: 0.5;
}

body.menu-aberto{
    overflow: hidden;
}

header > nav > a > img{
    width: 150px;
}


/*HOME*/
/*Slider de Imagem*/

div.slider {
    width: 100%;
    max-width: 100vw;
    height: auto;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

div.slides {
    display: flex;
    width: 300%; 
    height: auto;
}

div.slides input {
    display: none;
}

div.slide {
    width: 33.3333%; 
    transition: 0.8s; 
}

div.slide img {
    width: 100%; 
    height: auto; 
    display: block;
    object-fit: contain; 
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -33.3333%; 
}

#radio3:checked ~ .first {
    margin-left: -66.6666%; 
}


div.navegacao-manual {
    position: absolute;
    width: 100%;
    bottom: 20px; 
    display: flex;
    justify-content: center;
    z-index: 10;
}

label.manual-botao {
    border: 2px solid white;
    padding: 5px;
    border-radius: 50%; 
    cursor: pointer;
    transition: 0.3s;
    margin: 0 10px;
}

div.navegacao-auto {
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

div.navegacao-auto div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.5s;
}

div.navegacao-auto div:not(:last-child){
    margin-right: 30px;
}

div.navegacao-manual{
    position: absolute;
    bottom: 5.7%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#radio1:checked ~ .navegacao-auto .auto-botao1{
    background-color: white;
}
#radio2:checked ~ .navegacao-auto .auto-botao2{
    background-color: white;
}
#radio3:checked ~ .navegacao-auto .auto-botao3{
    background-color: white;
}

label.manual-botao{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

label.manual-botao:not(:last-child){
    margin-right: 30px;
}       

label.manual-botao:hover{
    background-color: white;
}

/*Sobre Hi Melody*/

section#back_yellow{
    background-color: var(--amarelo-solar);
}

section#back_yellow > h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

section#back_yellow > p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    line-height: 30px;
}

section#back_yellow > img{
    width: 100%;
    height: auto;
    display: block;
}

section#back_blue{
    background-color: #65a5ca;
}

section#back_blue > h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

section#back_blue > p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    line-height: 30px;
}

section#back_blue > img{
    width: 100%;
    height: auto;
    display: block;
}

/*Background Images*/

div#background_images > img{
    display: block;
    width: 100%;
}

/*Footer*/

footer{
    background-image: url(../imagens/backgorund_footer.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    height: 640px;
}

footer p, h3{
    color: #F4E6C3;
    font-family: "footer", sans-serif;
}

footer > div#footer_title{
    display: flex;
    flex-flow: column;
    align-items: center;
}

footer div#footer_title > img{
    padding-top: 90px;
    width: 300px;
}

footer > div#footer_title > p{
    text-align: center;
    margin: 0;
}

footer > div#footer_base{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 90px;
}

#contato{
    width: 300px;

    text-align: center;
}

.endereco{
    padding-bottom: 20px;
}

.titulo_linha{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 20px;

    font-family: "footer";
    color: #F4E6C3;
}

.titulo_linha::before, .titulo_linha::after{
    content: "";
    flex: 1;
    height: 2px;
}

.titulo_linha::before{
  background: linear-gradient(to left, var(--areia-suave), transparent);
}

.titulo_linha::after{
  background: linear-gradient(to right, var(--areia-suave), transparent);
}

.titulo_linha span{
  white-space: nowrap;
  letter-spacing: .12em;
}

.separador_vertical{
    margin: 0px 20px;
    width: 2px;
    height: 150px;
    background: linear-gradient(to bottom, transparent, var(--areia-suave), transparent);
}

#icons_social_media > p{
    font-size: 1.5em;
    padding-bottom: 20px;
    text-align: center;
}

#icons_social_media > a > img{
    width: 90px;
    padding: 0px 20px;
}

.direitos_reservados{
    padding-top: 100px;
    text-align: center;
}

/*MENU*/

main{
    background-color: var(--areia-suave);
    background-image:linear-gradient(to bottom, rgba(255,255,255,0.35), rgba(0,0,0,0.05)), url("../imagens/textura_areia.png");
    background-repeat: repeat;
    background-size: auto;
}
/*Main_menu*/

section#title_main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    text-align: center;
    height: 600px;
    background-image: url(../imagens/background_menu_mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: var(--areia-suave);
}

section#title_main > h1{
    font-family: "titulos";
    color: white;
    font-size: 6em;
    text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.486);
    padding-bottom: 20px;
}

section#title_main > p{
    color: white;
    text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.486);
    padding-bottom: 10px;
}

section#title_main > a{
    font-family: "paragrafos";

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: white;
    width: 140px;
    height: 40px;
    background-color: var(--coral-vibrante);

    box-shadow: 7px 3px 3px rgba(0, 0, 0, 0.397);
}

section#title_main > a:hover{
    background-color: #0d405e;
    transition: 0.5s;
}

/*Ancoras*/

section#ancoras{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;

    width: 100%;
    height: 100px;
}

section#ancoras > a{
    position: relative;
    text-decoration: none;
    color: #0d405e;
    font-size: 1.2em;

    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
}

section#ancoras > a::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: var(--coral-vibrante);
  transition: 0.3s;
  transform: translateX(-50%);
}

section#ancoras > a:hover::after{
  width: 60%;
}

section#ancoras > a > p{
    font-family: "sub";
}

/*Conteúdo Principal*/

div#center_title{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px;
}

div#center_title::before, div#center_title::after{
    content: "";
    flex: 1;
    height: 2px;
}

div#center_title::before{
  background: linear-gradient(to left, #974038, transparent);
}

div#center_title::after{
  background: linear-gradient(to right, #974038, transparent);
}

div#center_title > h2{
    color: #fc5141;
    text-shadow: none;
}

div.menu_itens article{
    display: flex;
    gap: 16px;
    align-items: flex-start;
    flex-flow: row nowrap;
    background-color: rgba(255, 255, 255, 0.411);
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

div.menu_itens article #info{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

div.menu_itens article h3{
    margin: 0;
    color: #0d405e;
    font-size: 1.6em;
}

div.menu_itens article img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

/*CONTATO*/
/*Título*/


body.contato{
    background-color: #F4E6C3;
}

.contato_titulo{
    font-family: "footer";
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 120px 0px 40px 0px;
}

.contato_titulo > h1{
    padding-bottom: 10px;
    font-size: 5em;
}

.contato_titulo > p{
    font-family: "sub";
    font-size: 0.9em;
    text-align: center;
    padding: 0px 20px;
    line-height: 1.6;
}

/*Formulário*/

.form_contato{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#campo_contato{
    padding: 9px 0px;
}

#campo_contato > label{
    display: block;
    font-family: "paragrafos";
    font-size: 0.8em;
    font-weight: 600;
}

#campo_contato span{
    color: rgb(175, 175, 175);
    font-style: italic;
}

#campo_contato input, select, textarea{
    border: none;
    outline: none;
    background: none;
    font-family: "paragrafos";
}

#campo_contato input, select, textarea{
    width: 100%;
    height: 45px;
    padding: 12px 14px;
    border-radius: 6px;
}

#campo_contato input, select, textarea{
    background-color: white;
    transition: 0.25s;
}

#campo_contato input:focus, select:focus, textarea:focus{
    border-color: var(--coral-vibrante);
    background-color: white;
}

#campo_contato textarea{
    min-height: 140px;
    resize: vertical;
}

#campo_contato ::placeholder{
    color: #9b9481;
}

div#botao{
    display: flex;
    justify-content: center;
    align-items: center;
}

div#botao > button{
    font-family: "paragrafos";
    width: 100%;
    height: 40px;
    color: white;
    background-color: #0d405e;
    border: none;
}

div#botao > button:hover{
    cursor: pointer;
    background-color: #974038;
    transition: 0.3s;
}

/*SOBRE*/
/*Título*/

body.sobre #title_main{
    background-image: url(../imagens/praia_sobre_back.jpg);
}

/*UNIDADE*/
/*Título*/

body.unidade #title_main{
    background-image: url(../imagens/picnic_sobre_back.jpg);
    height: 400px;
}

body.unidade #title_main > img{
    width: 50%;
}

/*Conteúdo*/

#main_content_unidade{
    padding: 15px;
}

#horario_localizacao h2{
    font-family: "sub";
    color: black;
    text-shadow: none;
    font-size: 3.0em;
    text-align: center;
    padding: 30px;
}

#horario_localizacao p, #bio_local p{
    font-family: "paragrafo";
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 20px;
    line-height: 25px;
}

#horario_localizacao h3{
    color: black;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
}

#bio_local img{
    display: block;
    width: 100%;
    margin: auto;
}

/*Mapa Google*/

#localizacao iframe{
    width: 100%;
}
