@charset "UTF-8";

:root{
    --amarelo-solar: #FFC861;
    --verde-praia: #61C3A7;
    --azul-oceano: #46A2D9;
    --coral-vibrante: #F76C5E;
    --areia-suave: #F4E6C3;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    height: 100vh;
    width: 100vw;
}

nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    width: 100vw;
    height: 16vh;
    background-color: lightgray;
    padding-top: 5px;
}

span#burguer{
    background-color: var(--coral-vibrante);
    box-shadow: -6px 6px 1px var(--amarelo-solar) ;
    padding: 7px;
    color: white;
    font-size: 2.5em;
    cursor: pointer;
}

.menu{
    position: fixed;
    inset: 0;
    background-color: #5ba6d1ea;

    transform: translateY(-100%);
    transition: transform 0.4s ease;
}

.menu.aberto{
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateY(0);
}

#fechar-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.menu > ul > li{
    list-style: none;
    margin: 20px 0;
}

.menu > ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;

    transition: color 0.5s;
}

.menu > ul > li > a:hover{
    color: var(--amarelo-solar);
}

.menu > hr{
    background-color: var(--coral-vibrante);
    width: 90vw;
    border: none;
    height: 2px;
    margin: 30px 0;
    opacity: 0.5px;
}

body.menu-aberto{
    overflow: hidden;
}

header > nav > a > img{
    width: 200px;
}

img{
    width: 50px;
}