@charset "UTF-8";

@font-face {
    font-family: "titulos";
    src: url(../fontes/Blue\ Beach.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "paragrafos";
    src: url(../fontes/Cocogoose-Pro-Light-trial.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "footer";
    src: url(../fontes/CaviarDreams.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --amarelo-solar: #FFC861;
    --verde-praia: #61C3A7;
    --azul-oceano: #46A2D9;
    --coral-vibrante: #F76C5E;
    --areia-suave: #F4E6C3;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;

}

h2{
    font-family: "titulos", sans-serif;

    color: white;
    text-shadow: 4px 3px 3px var(--coral-vibrante);
    font-size: 4.5em;
}

p{
    font-family: "paragrafos", sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    width: 100%;
    height: 16vh;
    background-color: transparent;
    padding-top: 5px;
}

span#burguer{
    background-color: var(--coral-vibrante);
    box-shadow: -6px 6px 1px var(--amarelo-solar) ;
    padding: 7px;
    color: white;
    font-size: 2.5em;
    cursor: pointer;
}

.menu{
    position: fixed;
    inset: 0;
    background-color: #5ba6d1ea;

    transform: translateY(-100%);
    transition: transform 0.4s ease;
}

.menu.aberto{
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateY(0);
}

#fechar-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.menu > ul > li{
    list-style: none;
    margin: 20px 0;
}

.menu > ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;

    transition: color 0.5s;
}

.menu > ul > li > a:hover{
    color: var(--amarelo-solar);
}

.menu > hr{
    background-color: var(--coral-vibrante);
    width: 90%;
    border: none;
    height: 2px;
    margin: 30px 0;
    opacity: 0.5;
}

body.menu-aberto{
    overflow: hidden;
}

header > nav > a > img{
    width: 200px;
}

/*Slider de Imagem*/

div.slider{
    position: relative;
    background-color: green;
    margin: 0 auto;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

#radio1:checked ~ .first{
    margin-left: 0;
} 

#radio2:checked ~ .first{
    margin-left: -100%;
} 

#radio3:checked ~ .first{
    margin-left: -200%;
} 

div.slides{
    width: 300%;
    height: 700px;
    display: flex;
}

div.slides input{
    display: none;
}

div.slide{
    flex: 0 0 100%;
    width: 100%;
    position: relative;
    transition: 2s;
}

div.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:  center center;
}

div.navegacao-auto{
    position: absolute;
    width: 100%;
    margin-top: 650px;
    display: flex;
    justify-content: center;
}

div.navegacao-auto div{
    border: 2px solid var(--azul-oceano);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

div.navegacao-auto div:not(:last-child){
    margin-right: 30px;
}

div.navegacao-manual{
    position: absolute;
    width: 100%;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

#radio1:checked ~ .navegacao-auto .auto-botao1{
    background-color: white;
}
#radio2:checked ~ .navegacao-auto .auto-botao2{
    background-color: white;
}
#radio3:checked ~ .navegacao-auto .auto-botao3{
    background-color: white;
}

label.manual-botao{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

label.manual-botao:not(:last-child){
    margin-right: 30px;
}       

label.manual-botao:hover{
    background-color: white;
}

img{
    width: 100px;
}

/*Sobre Hi Melody*/

section#back_yellow{
    background-color: var(--amarelo-solar);
}

section#back_yellow > h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

section#back_yellow > p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    line-height: 30px;
}

section#back_yellow > img{
    width: 100%;
    height: auto;
    display: block;
}

section#back_blue{
    background-color: #65a5ca;
}

section#back_blue > h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

section#back_blue > p{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    line-height: 30px;
}

section#back_blue > img{
    width: 100%;
    height: auto;
    display: block;
}

/*Background Images*/

div#background_images > img{
    display: block;
    width: 100%;
}

/*Footer*/

footer{
    background-image: url(../imagens/backgorund_footer.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    height: 640px;
}

footer p, h3{
    color: #F4E6C3;
    font-family: "footer", sans-serif;
}

footer > div#footer_title{
    display: flex;
    flex-flow: column;
    align-items: center;
}

footer div#footer_title > img{
    padding-top: 90px;
    width: 300px;
}

footer > div#footer_title > p{
    text-align: center;
    margin: 0;
}

footer > div#footer_base{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 90px;
}

#contato{
    width: 300px;

    text-align: center;
}

.endereco{
    padding-bottom: 20px;
}

.titulo_linha{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 20px;

    font-family: "footer";
    color: #F4E6C3;
}

.titulo_linha::before, .titulo_linha::after{
    content: "";
    flex: 1;
    height: 2px;
}

.titulo_linha::before{
  background: linear-gradient(to left, var(--areia-suave), transparent);
}

.titulo_linha::after{
  background: linear-gradient(to right, var(--areia-suave), transparent);
}

.titulo_linha span{
  white-space: nowrap;
  letter-spacing: .12em;
}

.separador_vertical{
    margin: 0px 20px;
    width: 2px;
    height: 150px;
    background: linear-gradient(to bottom, transparent, var(--areia-suave), transparent);
}

#icons_social_media > p{
    font-size: 1.5em;
    padding-bottom: 20px;
    text-align: center;
}

#icons_social_media > a > img{
    width: 90px;
    padding: 0px 20px;
}

.direitos_reservados{
    padding-top: 100px;
    text-align: center;
}