@charset "UTF-8";

:root{
    --amarelo-solar: #FFC861;
    --verde-praia: #61C3A7;
    --azul-oceano: #46A2D9;
    --coral-vibrante: #F76C5E;
    --areia-suave: #F4E6C3;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    width: 100%;
    height: 16vh;
    background-color: transparent;
    padding-top: 5px;
}

span#burguer{
    background-color: var(--coral-vibrante);
    box-shadow: -6px 6px 1px var(--amarelo-solar) ;
    padding: 7px;
    color: white;
    font-size: 2.5em;
    cursor: pointer;
}

.menu{
    position: fixed;
    inset: 0;
    background-color: #5ba6d1ea;

    transform: translateY(-100%);
    transition: transform 0.4s ease;
}

.menu.aberto{
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateY(0);
}

#fechar-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.menu > ul > li{
    list-style: none;
    margin: 20px 0;
}

.menu > ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;

    transition: color 0.5s;
}

.menu > ul > li > a:hover{
    color: var(--amarelo-solar);
}

.menu > hr{
    background-color: var(--coral-vibrante);
    width: 90%;
    border: none;
    height: 2px;
    margin: 30px 0;
    opacity: 0.5;
}

body.menu-aberto{
    overflow: hidden;
}

header > nav > a > img{
    width: 200px;
}

/*Slider de Imagem*/

div.slider{
    position: relative;
    background-color: green;
    margin: 0 auto;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

#radio1:checked ~ .first{
    margin-left: 0;
} 

#radio2:checked ~ .first{
    margin-left: -100%;
} 

#radio3:checked ~ .first{
    margin-left: -200%;
} 

div.slides{
    width: 300%;
    height: 700px;
    display: flex;
}

div.slides input{
    display: none;
}

div.slide{
    flex: 0 0 100%;
    width: 100%;
    position: relative;
    transition: 2s;
}

div.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:  center center;
}

div.navegacao-auto{
    position: absolute;
    width: 100%;
    margin-top: 650px;
    display: flex;
    justify-content: center;
}

div.navegacao-auto div{
    border: 2px solid var(--azul-oceano);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

div.navegacao-auto div:not(:last-child){
    margin-right: 30px;
}

div.navegacao-manual{
    position: absolute;
    width: 100%;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

#radio1:checked ~ .navegacao-auto .auto-botao1{
    background-color: white;
}
#radio2:checked ~ .navegacao-auto .auto-botao2{
    background-color: white;
}
#radio3:checked ~ .navegacao-auto .auto-botao3{
    background-color: white;
}

label.manual-botao{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

label.manual-botao:not(:last-child){
    margin-right: 30px;
}       

label.manual-botao:hover{
    background-color: white;
}

img{
    width: 100px;
}